:80 {
    reverse_proxy * http://${APP_HOST}:8080 {
        header_up X-Forwarded-Proto {header.X-Forwarded-Proto}
        header_up X-Forwarded-For {header.X-Forwarded-For}
    }

    file_server

    # Añade estos encabezados para permitir CORS desde cualquier origen
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
        Access-Control-Allow-Headers "Authorization, Content-Type"
    }

    log
}
